@font-face {
	font-family: arial-n;
	src: url(Arial Narrow.ttf);
}

* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;

	cursor: default;
}

body {
	background: rgb(210, 208, 205);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: black;
}

p, a {
	font-family: arial-n;
	font-size: 20px;
}

#mail {cursor: pointer;}

.logo {
	width: 250px;

	position: fixed;
	bottom: 25px;
	right: 50px;

}

.logo img {
	width: 100%;
	opacity: 0.85;
}

.contact {
	position: fixed;
	bottom: 25px;
	left: 50px;
}

.left {
	float: left;
}

.right {
	float: left;
	margin-left: 100px;
}

.right a {
	display: block;
}

@media screen and (max-width: 871px) {
	.logo {
		width: 150px;

		right: 35px;
		bottom: 18px;
	}

	.contact {
		left: 35px;
		bottom: 18px;
	}

	p, a {font-size: 15px;}

}

@media screen and (max-width: 650px) {
	.logo {
		width: 100px;

		right: 35px;
		bottom: 18px;
	}

	.contact {
		left: 35px;
		bottom: 18px;
	}

	p, a {font-size: 14px;}

	.right {
		margin-left: 65px;
	}

}

@media screen and (max-width: 450px) {
	.left, .right {
		float: none;
	}

	.right {
		margin-left: 0;
	}

	.contact {
		left: 25px;
	}

	.logo {
		width: 120px;

		top: 18px;
		left: 25px;
	}
}




