@font-face {
	font-family: perpetua;
	src: url(Perpetua.ttf);
}

@font-face {
	font-family: garamond-regular;
	src: url(AGaramondPro-Regular.otf);
}

@font-face {
	font-family: garamond-bold;
	src: url(AGaramondPro-Bold.otf);
}

@font-face {
	font-family: roboto;
	src: url(Roboto-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
	font-size: 100%;

	overflow-x: hidden;
}

header {
	position: relative;
	top: 10%;
	left: 0px;

	width: 100vw;

	padding-left: 13.11%;
	padding-right: 13.11%;
}

a {
	text-decoration: none;
}

.logo {
	float: left;
}

.logo img {
	display: inline-block;
	width: 120px;
}

p {
	font-family: roboto;
	font-size: 1.25em;
}

.coming_soon {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

h2 {
	display: inline-block;

	font-family: garamond-bold;
	font-size: 5.5em;

	text-align: center;

	line-height: 1;
}

.znak {
	float: right;
}

.znak img {
	transform: translateY(-10px);
	width: 90px;
}

sup {
	font-size: 13px;
}

.section_landing {
	background-image: url(images/hero_v2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;

	position: relative;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;

	display: block;
}

span {
	font-style: italic;
}

.content {
	text-align: center;
}

.txt_1 {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 10vh 0;
}

				.txt_1, .product_img, .txt_2, .team_img {
					margin: 10vh 0;
				}

	.product_img img {
		width: 43vw;
	}



.txt_2 {
	display: flex;
	align-items: center;
	justify-content: center;
}


.txt_2 p {
	font-family: garamond-regular;

	font-size: 1.37em;
	width: 30vw;
}

.txt_2 h3 {
	font-family: garamond-bold;

	font-size: 2.5em;
}


.team_img img {
	width: 30vw;
}



footer {
	display: block;

	width: 100vw;
	height: 45vh;

	background: #dfede4;

	font-family: garamond-regular;
	color: #2a4336;

	padding: 3% 13.11%;
}

.footer_wrapper {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer h4 {
	font-weight: lighter;
	font-size: 1.87em;
}

input[type=text] {
	display: inline-block;

	width: 15vw;
	height: 35px;

	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 15px;

	background: transparent;
	outline: none;
	border: 1px solid #2a4336;

	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type=submit] {
	text-align: left;

	padding-left: 15px;
	margin-bottom: 20px;

	background: transparent;
	width: 150px;

	border: none;

	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type=submit]:focus {
	outline: none;
	border-radius: 0;

	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type=submit]:hover {
	text-decoration: underline;

	border-radius: 0;
	-webkit-border-radius: 0;

	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;

}

.info {
	display: flex;
	flex-direction: row;

	align-items: flex-end;
	justify-content: space-between;

	font-family: roboto;
}

.cell__1 img, .cell__1 p {
	display: inline-block;
}

.cell__1 p, .cell__2 a {
	font-size: 0.87em;
}

.cell__1 img {
	width: 30%;

	margin-right: 15px;
	transform: translateY(10px);

	opacity: 0.7;
}

.cell__2 a {
	color: #2a4336;
}



@media screen and (max-width: 1440px) {
	body {font-size: 90%;}
}

@media screen and (max-width: 1300px) {
	.txt_2 p {width: 40vw;}
	.team_img img {width: 35vw;}
}

@media screen and (max-width: 1024px) {
	header, .coming_soon {font-size: 80%;}
	.logo img {width: 90px;}
	.znak img {width: 65px;}

	.team_img img {width: 40vw;}
}

@media screen and (max-width: 768px) {
	.section_landing {background-position: right}

	.product_img img, .team_img img {width: 60vw;}
	.txt_2 p {width: 55vw;}

	.newsletter p {font-size: 90%;}

	footer {padding: 6% 13.11%;}

	input[type=text] {
		display: block;
		width: 50vw;
	}

	input[type=submit] {
		width: auto;
		padding-left: 0;
	}

}

@media screen and (min-width: 414px) {
	.mobile {display: none;}
}

@media screen and (max-width: 414px) {
	header {top: 5%; padding-left: 5vw; padding-right: 5vw;}

	.logo img {width: 70px;}
	.znak img {width: 50px;}
	body {font-size: 80%;}


	.mobile {display: block;}
	.not_mobile {display: none;}
	.txt_1 p, .product_img img, .txt_2 p, .team_img img, input[type=text] {width: 90vw;}

	footer {
		height: 100vh;
		padding: 10vh 5vw 6% 5vw;
	}

	h4 {width: 50vw;}
	.coming_soon {font-size: 73%;}
}

@media screen and (max-width: 375px) {
	.coming_soon {font-size: 65%;}
}

@media screen and (max-width: 360px) {
	.coming_soon {font-size: 63%;}
}

@media screen and (max-width: 320px) {
	header {font-size: 70%;}

	.logo img {width: 55px;}
	.znak img  {width: 39px;}
	.coming_soon {font-size: 54%;}

	.txt_1 p {width: 85vw;}
}








